* {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scrollbar-width: none;
}

body {
  background-color: #f3e8ff;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
  overflow: hidden;
  height: 100dvh;
}